<div class="item">
  <h3><%= @user.username %>'s Posts. Score: <%= @user.scorevote %> </h3>
  <% @user.posts.each do |post| %>
    <%= post.title %><br>
    <%= link_to post.user.username, user_path(id: post.user_id) %> <br>
    <%= post.body %> <br><br><br>
<% end %>

</div>
<br>
<h3> <%= @user.username %>'s comments on posts </h3>
<div class="comments">
    <% @user.comments.each do |comment| %>
    <%= comment.post.title %><br>
    <%= link_to comment.user.username, user_path(id: comment.user_id) %><br>
    <%= comment.body %><br><br>
    <% end %>
</div>
