<div class="item">
  <h1><%= @user.username %>'s Posts</h1>
  <% @user.posts.each do |post| %>
    <%= post.title %><br>
    <%= link_to post.user.username, user_path(id: post.user_id) %> <br>
    <%= post.body %> <br><br><br>
<% end %>

</div>
<br>
<h1> <%= @user.username %>'s comments on posts </h1>
<div class="comments">
    <% @user.comments.each do |comment| %>
    <%= link_to comment.post.title, post_path(id: :post_id) %><br>
    <%= link_to comment.user.username, user_path(id: comment.user_id) %><br>
    <%= comment.body %><br><br>
    <% end %>
</div>
