
<%= link_to 'New Post', new_post_path %><br>
<%= link_to 'New User', new_user_path %>
<div class="item">

  <% @posts.each do |post| %>
  <br><br>
  <%= link_to 'up', upvote_path(id: post.id), method: :post %>
::
  <%= post.scorevote %>
::
  <%= link_to 'down', downvote_path(id: post.id), method: :post %><br>

    <%= link_to post.title, post_path(id: post.id) %><br>
     Submitted <%= post.created_at %> by <%= post.user.username %>
    <br>
<% end %>

</div>
