<%= link_to 'Comment', new_comment_path%>
<div class="item">

    <%= @post.title %><br>
    <%= @post.user.username %> <br>
    <%= @post.body %> <br>


</div>
<br>
<div class="comments">
    <% @post.comments.each do |comment| %>
    <%= comment.user.username %><br>
    <%= comment.body %>
    <% end %>
</div>
